.Home {
  background-color: #050f35;
  text-align: center
}

.Home-free {
  background-color: #050f35;
}

.Home-logo {
  animation: heartbeat 1.5s ease-in-out infinite both;
  height: 40vmin;
}

.Home-header {
  background-color: #050f35;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.candy-cane.small{
	font-size: 32px;
    background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 2px,
    #CF112B 3px,
    #CF112B 8px
    );
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.border { 
  background-color: rgb(241, 241, 153);
  color: rgb(70, 5, 5);
  border: 20px solid transparent;
  padding: 15px;
  -webkit-border-image: url(christmas-border.png) 100 round; /* Safari 3.1-5 */
  -o-border-image: url(christmas-border.png) 100 round; /* Opera 11-12.1 */
  border-image: url(christmas-border.png) 100 round;
}

