.Home {
  background-color: #050f35;
  text-align: center
}

.Home-free {
  background-color: #050f35;
}

.Home-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 40vmin;
}

.Home-header {
  background-color: #050f35;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.candy-cane.small{
	font-size: 32px;
    background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 2px,
    #CF112B 3px,
    #CF112B 8px
    );
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

